/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/*------USER DEFINED STYLES-------*/

html { 
  font-size: 16px;
  font-family: 'Alegreya Sans', sans-serif;
} 

p, article, .container:not(.nav-wrapper) ul {
  font-size: 1.2rem;
  line-height: 2rem;
}

p {
  margin: 1rem 0;
}

article a, cite a {
  color: rgba(231, 106, 162, 1);
  transition: color .3s ease;
}

article a:hover, cite a:hover {
  color: rgba(248, 187, 208, 1);
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin: 1.8rem 0 1rem 0;
}

article h1 {
  font-size: 2.4rem;
}

article h2 {
  font-size: 2.0rem;
}

article h3 {
  font-size: 1.8rem;
}

article h4 {
  font-size: 1.4rem;
}

article h5 {
  font-size: 1.2rem;
}

article h6 {
  font-size: 1rem;
}

article ul:not(.browser-default) {
  list-style-type: initial; 
  padding-left: 30px; 
  margin-top: 10px; 
  margin-bottom: 15px;
}

article ul:not(.browser-default) li {
  list-style-type: initial;
}

.card-title {
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

table { 
  border-collapse: collapse; 
  border-spacing: 0; 
  margin: 1.5em 0; 
}

tr:nth-child(odd) { 
  background-color: rgba(59,50,38,0.15); 
}

th { 
  font-size: 1em; 
  vertical-align: middle; 
  padding: 0.5em 0.75em; 
  text-align: left; 
}

tr:first-child th {
  text-align: center; 
}

td { 
  vertical-align: text-top; 
  text-align: center; 
  padding: 0.5em 0.75em; 
}

table caption { 
  caption-side: bottom; 
  text-align: left; 
}

article .material-icons {
  font-size: 1.2rem;
  line-height: 1.7rem;
  vertical-align: top;
}

.center-image {
  margin: 1rem auto;
  display: block;
}

.carousel-slider {
  height: 450px !important;
}

.slider .indicators .indicator-item.active {
  background-color: rgba(231, 106, 162, 1);
}

nav .brand-logo img {
  height: 3.5rem;
}

@media only screen and (min-width: 601px) {
  nav .brand-logo img {
    height: 4rem;
  }
}

nav li a:hover {
  background-color: rgba(231, 106, 162, 1);
  color: #fff;
}

.side-nav li {
  color: #444;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
}

.side-nav li a:hover {
  background-color: #f06292;
  color: #fff;
}

.side-nav li:hover > a > i {
  color: #fff;
}

nav ul a,
nav .brand-logo {
  color: #444;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
}

blockquote {
  border-left: 5px solid #f06292;
}

cite img {
  height: 48px;
  width: 48px;
  vertical-align: middle;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

#index-banner.artifact {
  background: rgba(231, 106, 162,0.75);
}

#index-banner.artifact img {
  filter: blur(7px) grayscale(100%);
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.card-image img {
  width: 100%;
  display: block;
  filter: grayscale(100%);
}

/* http://stackoverflow.com/questions/36864692/materialize-css-transparent-gradient-overlay-on-card-image */
.card-image-gradient {
  display: block;
  position: relative;
}

.card-image-gradient::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: rgba(231, 106, 162, 1);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: rgba(248, 187, 208, 1);
}

.carousel {
  height: 600px;
}

.carousel .carousel-item {
  width: 300px;
  height: 400px;
}

footer.page-footer {
  margin: 0;
}

/* ==========================================================================
   HTML5 Boilerplate
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Helper classes */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

/* Clearfix: https://css-tricks.com/snippets/css/clear-fix/ */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Print styles */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}