/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


html { 
    font-size: 16px;
    font-family: 'Alegreya Sans', sans-serif;
} 

p, article li {
    font-size: 1.2rem;
    line-height: 1.7rem;
}

p {
    margin: 1rem 0;
}

p a {
  color: #f06292; /*rgba(231, 106, 162, 1);*/
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin: 1.8rem 0 1rem 0;
}

nav .brand-logo img {
  border-radius: 50%;
  height: 3.5rem;
}

@media only screen and (min-width: 601px) {
  nav .brand-logo img {
    height: 4rem;
  }
}

nav li a:hover {
  background-color: #f06292;
  color: #fff;
}

.side-nav li {
  color: #444;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
}

.side-nav li a:hover {
  background-color: #f06292;
  color: #fff;
}

.side-nav li:hover > a > i {
  color: #fff;
}

nav ul a,
nav .brand-logo {
  color: #444;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*------USER DEFINED STYLES-------*/
#portfolio img {
  width: 100%;
  display: block;
}

/* http://stackoverflow.com/questions/36864692/materialize-css-transparent-gradient-overlay-on-card-image */
.card-image-gradient {
  display: block;
  position: relative;
}

.card-image-gradient::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
}

article h1 {
  font-size: 2.4rem;
}

article h2 {
  font-size: 2.0rem;
}

article h3 {
  font-size: 1.8rem;
}

article h4 {
  font-size: 1.4rem;
}

article h5 {
  font-size: 1.2rem;
}

article h6 {
  font-size: 1rem;
}
