<div class="card">
    <div class="card-image">
      <img class="card-img-top" src="{{ card.imgurl }}" alt="{{ card.title }}" title="{{ card.title }}">
    </div>
    <div class="card-body">
      <p class="h5 card-title">{{ card.title }}</p>
      <p class="card-text">{{ card.content }}</p>
    </div>
    <div class="card-footer">
      <a href="{{ card.url }}" class="btn btn-primary text-uppercase">See more</a>
    </div>
  </div>
