<div id="portfolio-overview-carousel" class="carousel slide py-5" data-bs-ride="carousel">
  <div class="container carousel-inner">
    {% set counter = 0 %}
    {% for card in cards %}
      {% if card.name != name %}
        {% set counter = counter + 1 %}
        {% if counter == 1 %}
          <div class="carousel-item active">
            <div class="row">
        {% elif counter % 3 == 1 %}
          <div class="carousel-item">
            <div class="row">
        {% endif %}
              <div class="col-lg-4 d-flex mb-3 mb-lg-0">
                <div class="card">
                  {% image card.imgurl, card.title, "card-img-top h-auto", "410", [410, 820, null] %}
                  <div class="card-body">
                    <p class="h5 card-title">{{ card.title | safe }}</p>
                    <p class="card-text">{{ card.content | safe }}</p>
                  </div>
                  <div class="card-footer">
                    <a href="{{ card.url }}" class="btn btn-primary text-uppercase">See more</a>
                  </div>
                </div>
              </div>
        {% if counter % 3 == 0 %}
              </div>
            </div>
        {% endif %}
      {% endif %}
      {% if counter % 3 != 0 and loop.last %}
            </div>
          </div>
      {% endif %}
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#portfolio-overview-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#portfolio-overview-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
