<footer class="bg-primary">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-lg-9">
        <h2 class="h5 text-white">About Me</h2>
        <p class="text-white">I am a user experience designer who has the breadth of a UX generalist, but has a special interest in interaction
          design and user research. I've worked across multiple industries and in companies as small as an early-stage startup
          to a Fortune 500 enterprise. I bring experience in software development and organization design to build collaboration
          across teams. Want to chat?
          <a href="mailto:hi@andrewpucci.com" class="text-white">Get in touch!</a>
        </p>
      </div>
      <div class="col-12 col-lg-3">
        <h2 class="h5 text-white">Connect</h2>
        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="https://twitter.com/andrewrpucci">
              <i class="fab fa-twitter fa-fw mr-2"></i>Twitter
            </a>
          </li>
          <li>
            <a class="text-white" href="https://www.linkedin.com/in/andrewpucci">
              <i class="fab fa-linkedin-in fa-fw mr-2"></i>LinkedIn
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-white mb-0">&copy; 2018 Andrew Pucci. Made with
          <a class="text-white" href="https://getbootstrap.com/">Bootstrap</a> and
          <a class="text-white" href="https://www.11ty.io/">Eleventy</a>, source on
          <a class="text-white" href="https://github.com/andrewpucci/andrewpucci.com">GitHub</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
