<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a id="logo-container" href="/" class="navbar-brand">
      {% image "./src/site/img/avatar.png", "Profile picture of Andrew Pucci", "rounded-circle", "42", [42] %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav w-100">
        <a class="nav-item nav-link{% if (layout == "front-page") %} text-primary" aria-current="page{% endif %}" href="{{ '/' | url }}">About</a>
        <a class="nav-item nav-link" href="{{ '/assets/files/AndrewPucci-Resume.pdf' | url }}" target="_blank" rel="noopener">Resume</a>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle{% if (layout == "collection") or (layout == "artifact") %} text-primary" aria-current="page{% endif %}" href="#" id="portfolio-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
            <ul class="dropdown-menu" aria-labelledby="portfolio-link">
              <li><a class="dropdown-item{% if (layout == "collection") %} text-primary {% endif %}" href="{{ '/portfolio/' | url }}">Overview</a></li>
              <li><hr class="dropdown-divider"></li>
            {% for card in cards %}
              <li><a class="dropdown-item{% if name == card.name %} text-primary{% endif %}" href="{{ card.url | url }}">{{ card.title | safe }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% if downloadFile %}
        <a class="btn btn-primary ms-lg-auto" href="{{ downloadFile }}" target="_blank" rel="noopener"><i class="fas fa-file-download me-2"></i>Download</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
