<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a id="logo-container" href="/" class="navbar-brand">
      <img src="https://gravatar.com/avatar/1ca3a88cb9ebe75c008ae39add2bb543?s=84" alt="Profile picture of Andrew Pucci" height="42" width="42" class="rounded-circle">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{ '/assets/files/AndrewPucci-Resume.pdf' | url }}" target="_blank" rel="noopener">Resume</a>
        <a class="nav-item nav-link" href="{{ '/portfolio/' | url }}">Portfolio</a>
        <a class="nav-item nav-link" href="https://twitter.com/andrewrpucci" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
        <a class="nav-item nav-link" href="https://www.linkedin.com/in/andrewpucci" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</nav>
