---
permalink: assets/js/deps.js
---

{%- include "../../../../node_modules/@fortawesome/fontawesome-free/js/solid.js" -%}
{%- include "../../../../node_modules/bootstrap/dist/js/bootstrap.bundle.js" -%}
{%- include "../../../../node_modules/@fortawesome/fontawesome-free/js/brands.js" -%}
{%- include "../../../../node_modules/@fortawesome/fontawesome-free/js/fontawesome.js" -%}
