<div id="index-banner" class="parallax-container valign-wrapper">
    <div class="container">
      <h1 class="center pink-text text-lighten-2">Hi, I'm Andrew.</h1>
      <h5 class="center">I aim to understand what makes broken experiences and design improvements to fix them.</h5>
    </div>
    <div class="parallax"><img src="/img/background.jpg" alt="Unsplashed background img 1">
    </div>
  </div>
  
  <div class="white">
    <div class="container">
      <div class="section">
      <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 l4">
            <div class="icon-block">
              <h2 class="center pink-text text-lighten-2"><i class="material-icons">face</i></h2>
              <h5 class="center">People-focused</h5>
  
              <p class="light">Innately interested in how people interact both between themselves and with software, I've been involved in the user experience design world for almost 10 years.</p>
            </div>
          </div>
  
          <div class="col s12 l4">
            <div class="icon-block">
              <h2 class="center pink-text text-lighten-2"><i class="material-icons">developer_mode</i></h2>
              <h5 class="center">Technical background</h5>
  
              <p class="light">Coming from a software engineering background has given me the ability to empathize with the developers on my team and informs my design decisions.</p>
            </div>
          </div>
  
          <div class="col s12 l4">
            <div class="icon-block">
              <h2 class="center pink-text text-lighten-2"><i class="material-icons">group</i></h2>
              <h5 class="center">Engaged in the community</h5>
  
              <p class="light">Whether volunteering my time reviewing conference submissions or heading up local UX groups, community has always been an important part of the work I do.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 l6">
          <blockquote>Andrew took on a variety of responsibilities at Society of Grownups&ndash;in true startup fashion. He not only supported and onboarded the technology team, but was instrumental in the launch of societyofgrownups.com. Andrew then moved into a bigger leadership role where he built the processes to attract, retain, and grow talent as the company expanded from 5 to 55 employees.
          Andrew's attitude is exemplary and his level of drive, grit, and initiative is truly incredible. Whether it was leading by example, analyzing and driving the metrics on employee satisfaction, Andrew is truly dedicated and gifted.</blockquote>
          <cite><img class="circle" alt="Nondini Naqui" src="/img/nondininaqui.jpg">  <a href="https://www.linkedin.com/in/nondini/" target="_blank" rel="noopener">Nondini Naqui</a>, CEO &amp; President, Society of Grownups</cite>
        </div>
        <div class="col s12 l6">
          <blockquote>Andrew is that rare colleague who combines whip-smart intelligence and deep compassion in his approach. As such, he's always seeking to improve and perfect experiences, be it the team working environment, customer interactions, and/or products overall. His optimistic attitude, coupled with a no-nonsense critical sensibility, make him an insightful collaborator and a great asset to any team.</blockquote>
          <cite><img class="circle" alt="Sarah Pascarella" src="/img/sarahpascarella.jpg">  <a href="https://www.linkedin.com/in/sarah-pascarella-b911835/" target="_blank" rel="noopener">Sarah Pascarella</a>, Head of Digital Content, Society of Grownups</cite>
        </div>
      </div>
    </div>
  </div>