<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container">
    <a id="logo-container" href="/" class="navbar-brand">
      <img src="https://gravatar.com/avatar/1ca3a88cb9ebe75c008ae39add2bb543?s=120" alt="Profile picture of Andrew Pucci" height="60" width="60" class="rounded-circle">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/files/AndrewPucci-Resume.pdf" target="_blank" rel="noopener">Resume</a>
        <a class="nav-item nav-link" href="/portfolio/">Portfolio</a>
        <a class="nav-item nav-link" href="http://twitter.com/andrewrpucci"><i class="icon-twitter"></i></a>
        <a class="nav-item nav-link" href="http://www.linkedin.com/in/andrewpucci"><i class="icon-linkedin"></i></a>
      </div>
  </div>
</nav>
