<header class="vertical">
  <img src="http://gravatar.com/avatar/1ca3a88cb9ebe75c008ae39add2bb543?size=240px" alt="Profile picture of Andrew Pucci" height="120" width="120">
  <nav role="navigation">
    <ul>
      <li><a href="/about">About Me</a></li>
      <li><a href="/work/">My Work</a></li>
      <li><a href="http://twitter.com/andrewrpucci"><i class="fi-social-twitter"></i></a><a href="http://www.linkedin.com/in/andrewpucci"><i class="fi-social-linkedin"></i></a></li>
    </ul>
  </nav>
</header> 