<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link type="text/plain" rel="author" href="{{ '/humans.txt' | url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | url }}">
    <link rel="preload" as="font" href="{{ '/assets/fonts/ibm-plex-sans-v8-latin-regular.woff2' | url }}" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ '/assets/fonts/ibm-plex-sans-v8-latin-regular.woff' | url }}" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ '/assets/fonts/ibm-plex-sans-v8-latin-italic.woff2' | url }}" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ '/assets/fonts/ibm-plex-sans-v8-latin-italic.woff' | url }}" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ '/assets/fonts/ibm-plex-sans-v8-latin-700italic.woff2' | url }}" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ '/assets/fonts/ibm-plex-sans-v8-latin-700italic.woff' | url }}" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ '/assets/fonts/ibm-plex-sans-v8-latin-700.woff2' | url }}" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ '/assets/fonts/ibm-plex-sans-v8-latin-700.woff' | url }}" type="font/woff" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/styles/main.css' | rev | url }}">
  </head>
  <body>
    {% include 'nav.njk' %}
    {{ content | safe }}
    {% include 'footer.njk' %}
    <script src="{{ '/assets/js/deps.js' | url }}" type="text/javascript" data-auto-add-css="false"></script>
  </body>
</html>
