---
layout: base.njk
---
<main>
  <div class="container py-5">
    <article>
      {{ content | safe }}
      <div class="row d-flex flex-wrap">
        {% for card in cards %}
        <div class="col-md-6 col-lg-4 d-flex mb-3">
          {% card card.title, card.content, card.url, card.imgurl, card.title, "card-img-top h-auto", "410", [410, 820, null] %}
        {% endfor %}
      </div>
    </article>
  </div>
</main>
