<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">

  <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', '{{ site.analytics }}');</script>

  <link href="/assets/main.css" type="text/css" rel="stylesheet" media="screen">
</head>

<body>
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id={{ site.analytics }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>

  {% include nav.html %}

  <main>
    {% if page.content-type == "front" %}
      {% include front-page.html %}
    {% elsif page.content-type == "collection" or page.content-type == "artifact" %}
      {% if page.content-type == "artifact" %}
        <div class="carousel bg-primary">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{ page.hero }}" class="banner-image hero-image" alt="{{ page.hero-title }}">
              <div class="carousel-caption">
                <h1 class="text-white text-uppercase display-4 d-none d-md-inline"><span class="px-2 bg-dark">{{ page.hero-title }}</span></h1>
                <h1 class="h2 text-white text-uppercase font-weight-light d-md-none"><span class="px-2 bg-dark">{{ page.hero-title }}</span></h1>
              </div>
            </div>
          </div>
        </div>

        <div class="row bg-white py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="text-primary text-center display-4 mb-2">
                  <i class="fas fa-users"></i>
                </div>
                <h2 class="h4 text-center">Project Team</h2>
                <ul class="list-unstyled text-center mb-4 mb-md-0">
                  {% for teammate in page.team %}
                    {% if teammate.link != null %}
                      <li>
                        <a href="{{ teammate.link }}">{{ teammate.name }}</a>
                      </li>
                    {% else %}
                      <li>{{ teammate.name }}</li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <div class="col-md-4">
                <div class="text-primary text-center display-4 mb-2">
                  <i class="fas fa-clipboard-list"></i>
                </div>
                <h2 class="h4 text-center">Responsibilities</h2>
                <ul class="list-unstyled text-center mb-4 mb-md-0">
                  {% for responsibility in page.responsibilities %}
                    <li>{{ responsibility }}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-md-4">
                <div class="text-primary text-center display-4 mb-2">
                  <i class="fas fa-wrench"></i>
                </div>
                <h2 class="h4 text-center">Tools Used</h2>
                <ul class="list-unstyled text-center mb-0">
                  {% for tool in page.tools %}
                  <li>{{ tool }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      {% else %}
      {% endif %}

      <div class="container py-5">
        <article>
          {{ content }}
          {% if page.content-type == "collection" %}
            <div class="row d-flex flex-wrap">
              {% for card in site.data.cards %}
              <div class="col-md-6 col-lg-4 d-flex mb-3">
                {% include card.html %}
              </div>
              {% endfor %}
            </div>
          {% else %}
          {% endif %}
        </article>
      </div>
    {% else %}
    {% endif %}

    {% if page.content-type == "front" or page.content-type == "artifact" %}
      <div id="portfolio-overview-carousel" class="carousel slide py-5" data-ride="carousel">
        <div class="container carousel-inner">
          {% assign counter = 0 %}
          {% for card in site.data.cards %}
            {% if card.name != page.name %}
              {% capture cycle_count %}{% cycle '1', '2', '3' %}{% endcapture %}
              {% assign counter = counter | plus: 1 %}
              {% if counter == 1 %}
                <div class="carousel-item active">
                  <div class="row">
              {% elsif cycle_count == '1' %}
                <div class="carousel-item">
                  <div class="row">
              {% endif %}
                    <div class="col-lg-4 d-flex">
                      {% include card.html %}
                    </div>
              {% if cycle_count == '3' or forloop.last %}
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#portfolio-overview-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#portfolio-overview-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>
    {% else %}
    {% endif %}
  </main>

  {% include footer.html %}

  <script src="{{'/assets/vendor/jquery.min.js' | absolute_url}}"></script>
  <script src="{{'/assets/vendor/popper.min.js' | absolute_url}}"></script>
  <script src="{{'/assets/vendor/bootstrap.min.js' | absolute_url}}"></script>
  <script src="{{'/assets/vendor/all.min.js' | absolute_url}}"></script>
</body>

</html>
