---
layout: base.njk
---
<div class="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/img/background.jpg" class="banner-image" alt="View of mountains in Bulgaria">
      <div class="carousel-caption">
        <h1 class="text-white text-uppercase display-4 mb-5"><span class="px-2 bg-primary">Hi, I'm Andrew.</span></h1>
        <h2 class="h4 text-primary text-uppercase font-weight-light"><span class="px-2 bg-white">I aim to understand what makes broken experiences and design improvements to fix them.</span></h4>
      </div>
    </div>
  </div>
</div>
<div class="bg-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
          <div class="icon-block">
            <div class="text-primary text-center display-4 mb-2">
              <i class="fas fa-user-friends"></i>
            </div>
            <h3 class="h4 text-center">People-focused</h3>
            <p class="text-center">Innately interested in how people interact both between themselves and with software, I've been involved in the user
              experience design world for almost 10 years.</p>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="icon-block">
            <div class="text-primary text-center display-4 mb-2">
              <i class="fas fa-code"></i>
            </div>
            <h3 class="h4 text-center">Technical background</h3>
            <p class="text-center">Coming from a software engineering background has given me the ability to empathize with the developers on my team
              and informs my design decisions.</p>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="icon-block">
            <div class="text-primary text-center display-4 mb-2">
              <i class="fas fa-handshake"></i>
            </div>
            <h3 class="h4 text-center">Engaged in the community</h3>
            <p class="text-center">Whether volunteering my time reviewing conference submissions or heading up local UX groups, community has always
              been an important part of the work I do.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="py-5">
  <div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
          <blockquote>Andrew took on a variety of responsibilities at Society of Grownups&ndash;in true startup fashion. He not only supported
            and onboarded the technology team, but was instrumental in the launch of societyofgrownups.com. Andrew then moved
            into a bigger leadership role where he built the processes to attract, retain, and grow talent as the company expanded
            from 5 to 55 employees. Andrew's attitude is exemplary and his level of drive, grit, and initiative is truly incredible.
            Whether it was leading by example, analyzing and driving the metrics on employee satisfaction, Andrew is truly dedicated
            and gifted.</blockquote>
          <cite>
            <img class="rounded-circle" alt="Nondini Naqui" src="{{ '/assets/img/nondininaqui.jpg' | url }}">
            <a href="https://www.linkedin.com/in/nondini/" target="_blank" rel="noopener">Nondini Naqui</a>, CEO &amp; President, Society of Grownups</cite>
        </div>
        <div class="col-12 col-lg-6">
          <blockquote>Andrew is that rare colleague who combines whip-smart intelligence and deep compassion in his approach. As such, he's
            always seeking to improve and perfect experiences, be it the team working environment, customer interactions, and/or
            products overall. His optimistic attitude, coupled with a no-nonsense critical sensibility, make him an insightful
            collaborator and a great asset to any team.</blockquote>
          <cite>
            <img class="rounded-circle" alt="Sarah Pascarella" src="{{ '/assets/img/sarahpascarella.jpg' | url }}">
            <a href="https://www.linkedin.com/in/sarah-pascarella-b911835/" target="_blank" rel="noopener">Sarah Pascarella</a>, Head of Digital Content, Society of Grownups</cite>
        </div>
    </div>
  </div>
</div>
{% include 'carousel.njk' %}
