---
layout: base.njk
---
<main>
  <div class="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        {% image "./src/site/img/background.jpg", "View of mountains in Bulgaria", "banner-image", "100vw", [300, 900, null] %}
        <div class="carousel-caption">
          <h1 class="text-white text-uppercase display-4 mb-5"><span class="px-2 bg-primary">Hi, I'm Andrew.</span></h1>
          <h2 class="h4 text-primary text-uppercase font-weight-light"><span class="px-2 bg-white">I aim to understand what makes broken experiences and design improvements to fix them.</span></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4">
            <div class="icon-block">
              <div class="text-primary text-center display-4 mb-2">
                <i class="fas fa-user-friends"></i>
              </div>
              <h3 class="h4 text-center">People-focused</h3>
              <p class="text-center">Innately interested in how people interact both between themselves and with software, I've been involved in the user
                experience design world for almost 10 years.</p>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="icon-block">
              <div class="text-primary text-center display-4 mb-2">
                <i class="fas fa-code"></i>
              </div>
              <h3 class="h4 text-center">Technical background</h3>
              <p class="text-center">Coming from a software engineering background has given me the ability to empathize with the developers on my team
                and informs my design decisions.</p>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="icon-block">
              <div class="text-primary text-center display-4 mb-2">
                <i class="fas fa-handshake"></i>
              </div>
              <h3 class="h4 text-center">Engaged in the community</h3>
              <p class="text-center">Whether volunteering my time reviewing conference submissions or heading up local UX groups, community has always
                been an important part of the work I do.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-2">
        <div class="col">
          <blockquote>Andrew has an innate talent for leadership and mentorship. As a manager, Andrew never acts like a superior, he acts like an advocate. He doesn't say &ldquo;Here's what you need to improve on,&rdquo; he asks &ldquo;Where do you want to grow?&rdquo; and &ldquo;How can I learn from you, too?&rdquo; He intuits strengths and gives the space to run with them with total support. Under his guidance, I grew more in skill and confidence in two years than I had in the past five. It honestly turned what had been an intimidating and imposter-syndrome-packed career change into an awesome experience.</blockquote>
          <cite>
            {% image "https://media-exp1.licdn.com/dms/image/C5603AQFN7eEAjlfoWQ/profile-displayphoto-shrink_400_400/0/1616694845807?e=1626912000&v=beta&t=popmpDbKVZh_I3b0aX-15Vb8R02diVKq6M-id0ZaBt4", "Jax Heinzen", "rounded-circle align-middle me-2", "40", [40, 80, null] %}
            <a href="https://www.linkedin.com/in/jacquelineheinzen/" target="_blank" rel="noopener">Jax Heinzen</a>, Experience Research & Design, Binary Defense</cite>
        </div>
        <div class="col">
          <blockquote>Andrew took on a variety of responsibilities at Society of Grownups&ndash;in true startup fashion. He not only supported and onboarded the technology team, but was instrumental in the launch of societyofgrownups.com. Andrew then moved into a bigger leadership role where he built the processes to attract, retain, and grow talent as the company expanded from 5 to 55 employees. Andrew's attitude is exemplary and his level of drive, grit, and initiative is truly incredible. Whether it was leading by example, analyzing and driving the metrics on employee satisfaction, Andrew is truly dedicated and gifted.</blockquote>
          <cite>
            {% image "./src/site/img/nondininaqui.jpg", "Nondini Naqui", "rounded-circle align-middle me-2", "40", [40, 80, null] %}
            <a href="https://www.linkedin.com/in/nondini/" target="_blank" rel="noopener">Nondini Naqui</a>, CEO &amp; President, Society of Grownups</cite>
        </div>
      </div>
    </div>
  </div>
  {% include 'carousel.njk' %}
</main>
