<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
        <link rel="apple-touch-icon" href="http://gravatar.com/avatar/1ca3a88cb9ebe75c008ae39add2bb543?s=152">

<!--
        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/main.css">
-->        <link rel="stylesheet" href="/css/custom-icons.css">
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Oswald|Quicksand" rel="stylesheet">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body class="grey lighten-4">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
          <div class="navbar-fixed">
            <nav class="white" role="navigation">
              <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="brand-logo"><img src="http://gravatar.com/avatar/1ca3a88cb9ebe75c008ae39add2bb543?s=120" alt="Profile picture of Andrew Pucci"></a>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons pink-text text-lighten-2">menu</i></a>
                <ul class="right hide-on-med-and-down">
                  {% include nav.html %}
                </ul>
              </div>
            </nav>
          </div>
          <ul id="nav-mobile" class="side-nav">
            {% include nav.html %}
          </ul>
        </header>


        {% if page.content-type == "front" %}
          {% include front-page.html %}
        {% elsif page.content-type == "artifact" %}
          <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
              <div class="container">
                <br><br>
                <h1 class="header center pink-text text-lighten-2">{{ page.hero-title }}</h1>
                <br><br>
              </div>
            </div>
            <div class="parallax"><img src="{{ page.hero }}" alt="Unsplashed background img 1"></div>
          </div>
        {% else %}
        {% endif %}

        <div class="container">
          <article>
            {{ content }}
            {% if page.content-type == "collection" %}
              <div id="portfolio" class="row">
                {% include card.html %}
              </div>
            {% else %}
            {% endif %}
          </article>
        </div>
      
      {% include footer.html %}

      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="/js/materialize.js"></script>
      <script src="/js/init.js"></script>

      {% include analytics.html %}
    </body>
</html>