<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">

  <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', '{{ site.analytics }}');</script>

  <link href="/assets/main.css" type="text/css" rel="stylesheet" media="screen">
</head>

<body>
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id={{ site.analytics }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>

  {% include nav.html %}

  {% if page.content-type == "front" %} {% include front-page.html %} {% elsif page.content-type == "collection" or page.content-type
  == "artifact" %} {% if page.content-type == "artifact" %}
  <div id="index-banner" class="parallax-container valign-wrapper artifact">
    <div class="container">
      <h1 class="header center white-text">{{ page.hero-title }}</h1>
    </div>
    <div class="parallax">
      <img src="{{ page.hero }}" alt="{{ page.hero-title }}">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-lg-4">
        <div class="icon-block">
          <h2 class="text-primary text-center">
            <i class="material-icons">people</i>
          </h2>
          <h5 class="center">Project Team</h5>
          <ul class="center">
            {% for teammate in page.team %} {% if teammate.link != null %}
            <li>
              <a href="{{ teammate.link }}">{{ teammate.name }}</a>
            </li>
            {% else %}
            <li>{{ teammate.name }}</li>
            {% endif %} {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col col-lg-4">
        <div class="icon-block">
          <h2 class="center pink-text text-lighten-2">
            <i class="material-icons">face</i>
          </h2>
          <h5 class="center">Responsibilities</h5>
          <ul class="center">
            {% for responsibility in page.responsibilities %}
            <li>{{ responsibility }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col col-lg-4">
        <div class="icon-block">
          <h2 class="center pink-text text-lighten-2">
            <i class="material-icons">build</i>
          </h2>
          <h5 class="center">Tools Used</h5>
          <ul class="center">
            {% for tool in page.tools %}
            <li>{{ tool }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% else %} {% endif %}

  <div class="container">
    <article>
      {{ content }} {% if page.content-type == "collection" %}
      <div class="row">
        {% for card in site.data.cards %}
        <div class="col col-md-6 col-lg-4">
          {% include card.html %}
        </div>
        {% endfor %}
      </div>
      {% else %} {% endif %}
    </article>
  </div>
  {% else %} {% endif %} {% if page.content-type == "front" or page.content-type == "artifact" %}
  <div class="carousel portfolio-overview white">
    {% for card in site.data.cards %} {% if card.name != page.name %}
    <div class="carousel-item">
      <div class="card">
        <div class="card-image">
          <div class="card-image-gradient">
            <img src="{{ card.imgurl }}" alt="{{ card.title }}" title="{{ card.title }}">
          </div>
          <span class="card-title">{{ card.title }}</span>
        </div>
        <div class="card-content">
          <p>{{ card.content }}</p>
        </div>
        <div class="card-action">
          <a href="{{ card.url }}">See more</a>
        </div>
      </div>
    </div>
    {% else %} {% endif %} {% endfor %}
  </div>
  {% else %} {% endif %} {% include footer.html %}

  <script src="{{'/assets/vendor/jquery.min.js' | absolute_url}}"></script>
  <script src="{{'/assets/vendor/popper.min.js' | absolute_url}}"></script>
  <script src="{{'/assets/vendor/bootstrap.min.js' | absolute_url}}"></script>
</body>

</html>
