<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/custom-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans%7COswald%7CQuicksand" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen"/>

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->
  </head>
  <body class="grey lighten-4">
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header>
      <div class="navbar-fixed">
        <nav class="white">
          <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo"><img src="http://gravatar.com/avatar/1ca3a88cb9ebe75c008ae39add2bb543?s=120" alt="Profile picture of Andrew Pucci" class="circle"></a>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons pink-text text-lighten-2">menu</i></a>
            <ul class="right hide-on-med-and-down">
              {% include nav.html %}
            </ul>
          </div>
        </nav>
      </div>
      <ul id="nav-mobile" class="side-nav">
        {% include nav.html %}
      </ul>
    </header>


    {% if page.content-type == "front" %}
      {% include front-page.html %}
    {% elsif page.content-type == "collection" or page.content-type == "artifact" %}
      {% if page.content-type == "artifact" %}
        <div id="index-banner" class="parallax-container valign-wrapper artifact">
          <div class="container">
            <h1 class="header center white-text">{{ page.hero-title }}</h1>
          </div>
          <div class="parallax"><img src="{{ page.hero }}" alt="{{ page.hero-title }}"></div>
        </div>
      {% else %}
      {% endif %}

      <div class="container">
        <article>
          {{ content }}
          {% if page.content-type == "collection" %}
            <div id="portfolio" class="row">
              {% include card.html %}
            </div>
          {% else %}
          {% endif %}
        </article>
      </div>
    {% else %}
    {% endif %}
    
    {% include footer.html %}

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/init.js"></script>

    {% include analytics.html %}
  </body>
</html>