$link-decoration: underline;
$link-hover-decoration: none;
$spacer: $font-size-base;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * 0.25),
    2: ($spacer * 0.5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2.25),
    6: ($spacer * 3)
  ),
  $spacers
);

body {
  padding-top: 70px;
}
nav.navbar {
  background-color: rgba($white, 0.98);
}
.banner-image {
  object-fit: cover;
  width: 100%;
  min-height: 38vh;
  max-height: 50vh;
}
blockquote {
  border-left: map-get($spacers, 2) solid $primary;
  padding-left: map-get($spacers, 3);
  margin: map-get($spacers, 3) 0;
}
cite img {
  height: map-get($spacers, 5);
  width: map-get($spacers, 5);
  vertical-align: middle;
}
.card-img-top {
  filter: grayscale(100%);
}
a.btn {
  text-decoration: none;
}
.hero-image {
  filter: blur(5px) grayscale(100%) opacity(30%);
  min-height: 25vh;
  max-height: 34vh;
}
